#Redirect .title-block a{
    color: gray;
}

#Redirect .title-block span{
    font-size: 12px;
}

#Redirect .title-block small{
    font-size: 12px;
}

#Redirect{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#Redirect .f-block{
    flex: 1;
}

#Redirect pre {
    font-size: 12px;
    background-color:#e2e2e2;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 5px;
}

#Redirect .hint-text{
    font-size: 10px;
}

/*  */
.spinner {
    animation: rotator 1.4s linear infinite;
}
@keyframes rotator {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(270deg);
   }
}
.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
@keyframes colors {
    0% {
        stroke: #4285f4;
   }
    25% {
        stroke: #de3e35;
   }
    50% {
        stroke: #f7c223;
   }
    75% {
        stroke: #1b9a59;
   }
    100% {
        stroke: #4285f4;
   }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 187;
   }
    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
   }
    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
   }
}
